body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #bec7cd;
  font-size: 12px;
  text-align: end;
}
.container {
  background-color: #bec7cd;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  

}
.box{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.box form input{
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #fff;
  box-shadow: 1rem 1rem 1.6rem #d1d9e6, -0.6rem -0.6rem 1.6rem #fff;

}

form .display input{
  border: 1px solid ;
  width: auto;
  height: 3em;
  margin:0;
  border-radius: 5px;
  text-align: right;
  box-shadow: none;
}
.operator{
  color:orangered;
}
